version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - site_data:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - site

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php-fpm
    volumes:
      - site_data:/var/www/html
    depends_on:
      - site

  site:
    image: alpine:3.20
    container_name: site
    working_dir: /app
    volumes:
      - ./src:/app
      - site_data:/var/www/html
    command: >
      sh -c "
        cp -r . /var/www/html &&
        sleep infinity
      "

volumes:
  site_data:

