apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: namespaces
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  source:
    repoURL: https://github.com/AlexanKoh/Practice_For_DevOps
    targetRevision: HEAD
    path: namespaces
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
