apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-postgresql
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: postgresql
    targetRevision: latest
    helm:
      values: |
        auth:
          postgresPassword: "mysecretpassword"
          database: "mydatabase"
        primary:
          persistence:
            enabled: false  # Для теста отключаем постоянное хранилище
  destination:
    server: https://kubernetes.default.svc
    namespace: database
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
