# --------------------------
# Namespace для приложения
# --------------------------
apiVersion: v1
kind: Namespace
metadata:
  name: myapp
---
# --------------------------
# Deployment для сайта
# --------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: website
  namespace: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
      - name: frontend
        image: ghcr.io/AlexanKoh/frontend:latest
        ports:
        - containerPort: 80
      - name: backend
        image: ghcr.io/AlexanKoh/backend:latest
        ports:
        - containerPort: 8080
      - name: php
        image: ghcr.io/AlexanKoh/php-fpm:latest
        ports:
        - containerPort: 9000
      - name: nginx
        image: ghcr.io/AlexanKoh/nginx-custom:latest
        ports:
        - containerPort: 80
---
# --------------------------
# Сервис NodePort для сайта
# --------------------------
apiVersion: v1
kind: Service
metadata:
  name: website-service
  namespace: myapp
spec:
  type: NodePort
  selector:
    app: website
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
---
# --------------------------
# Namespace для мониторинга
# --------------------------
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
# --------------------------
# Prometheus Deployment
# --------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
      - name: prometheus
        image: prom/prometheus:latest
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: prometheus-config
          mountPath: /etc/prometheus/
      volumes:
      - name: prometheus-config
        emptyDir: {}
---
# --------------------------
# Prometheus Service
# --------------------------
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30900
---
# --------------------------
# Grafana Deployment
# --------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
      - name: grafana
        image: grafana/grafana:latest
        ports:
        - containerPort: 3000
---
# --------------------------
# Grafana Service
# --------------------------
apiVersion: v1
kind: Service
metadata:
  name: grafana-service
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30300

