apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-fpm
  namespace: my-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: php-fpm
  template:
    metadata:
      labels:
        app: php-fpm
    spec:
      initContainers:
      - name: copy-website-files
        image: ghcr.io/alexankoh/website:efcf7131a12b631f1b216c818125c66d4b677bd0
        command: ["sh", "-c", "cp -r /var/www/html/* /shared-website/"]
        volumeMounts:
        - name: website-files
          mountPath: /shared-website
      containers:
      - name: php-fpm
        image: php:8.2-fpm
        ports:
        - containerPort: 9000
        volumeMounts:
        - name: website-files
          mountPath: /var/www/html
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"
      volumes:
      - name: website-files
        emptyDir: {}
