apiVersion: apps/v1
kind: Deployment
metadata:
  name: website
  namespace: my-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      initContainers:
      - name: copy-website-files
        image: ghcr.io/alexankoh/website:efcf7131a12b631f1b216c818125c66d4b677bd0
        command: ["sh", "-c", "cp -r /var/www/html/* /shared-website/"]
        volumeMounts:
        - name: website-files
          mountPath: /shared-website
      containers:
      - name: website
        image: nginx:alpine
        ports:
        - containerPort: 80
        volumeMounts:
        - name: website-files
          mountPath: /var/www/html
        command: 
        - /bin/sh
        - -c
        - |
          # Создаем конфиг nginx
          cat > /etc/nginx/conf.d/default.conf << 'EOF'
          server {
              listen 80;
              server_name localhost;
              root /var/www/html;
              index index.php index.html;

              location / {
                  try_files $uri $uri/ /index.php$is_args$args;
              }

              location ~ \.php$ {
                  fastcgi_pass php-service:9000;
                  fastcgi_index index.php;
                  include fastcgi_params;
                  fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
              }
          }
          EOF
          nginx -g "daemon off;"
      volumes:
      - name: website-files
        emptyDir: {}
