apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-fpm
  namespace: devops-site
spec:
  replicas: 1
  selector:
    matchLabels:
      app: php-fpm
  template:
    metadata:
      labels:
        app: php-fpm
    spec:
      containers:
        - name: php-fpm
          image: ghcr.io/alexankoh/php-fpm:latest
          ports:
            - containerPort: 9000

