apiVersion: v1
kind: Service
metadata:
  name: website
  namespace: devops-site
spec:
  type: NodePort
  selector:
    app: website
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30081

