apiVersion: v1
kind: Service
metadata:
  name: nginx-frontend
  labels:
    app: nginx-frontend
spec:
  selector:
    app: nginx-frontend
  ports:
  - name: http
    port: 80
    targetPort: 80
  type: ClusterIP
